<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi Live Video Feed</title>
  </head>
  <body>
    <center>
    <h1>Raspberry Pi Live Video Feed</h1>
    <div class="main" id="newpost">
      <img  class="camera-bg" style="width: 50%; height:50%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">   
    </div>
    <p> THE VEHICLE IS CONNEDCTED <p>
    </center>
    <div id="msg_attitude" data-name="{{msg_attitude}}"></div>
    <form action="/Disarm">
        <button type="submit"> Force Arm </button>
    </form>
  </body>
</html>