<!DOCTYPE html>
<html>
  <head>
    <title>My thesis</title>
  </head>
  <body>
    <center>
    <h1> My Groud Control Station</h1>
    
    <script src="{{ url_for('video_feed') }}"></script>
    <div class="main" id="newpost">
      <img  class="camera-bg" style="width: 30%; height:30%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">   
    </div>
    <form action="/Connected">
      <button type="submit" name="Connected" value="true"> Connect to USV </button>
    </form>
    </center>
  </body>
</html>