<!DOCTYPE html>
<html>
  <head>
    <title>Raspberry Pi Live Video Feed</title>
  </head>
  <body>
    <center>
    <h1>Raspberry Pi Live Video Feed</h1>
    <div class="main" id="newpost">
      <img  class="camera-bg" style="width: 50%; height:50%; background-attachment: fixed;" id="bg" class="center" src="{{ url_for('video_feed') }}">   
    </div>
    <form action="/Connected">
      <button type="submit" name="Connected" value="true"> Connect to USV </button>
    </form>
    </center>
  </body>
</html>