<html>
    <head>
        <meta charset="UTF-8">
        <title>Joystick API</title>
        <style>
            pre {
                background: #555;
                color: #5F5;
                padding: 30px;
            }
        </style>    
    </head>
    <body>
        <pre id="gamepad-display"></pre>
        <script >
            window.addEventListener('gamepadconnected',event =>{
            console.log('Gamepad connected:')
            console.log(event.gamepad)

            })

            window.addEventListener('gamepaddisconnected', event => {
            console.log('Gamepad disconnected')
            console.log(event.gamepad)
            })

            const gamepadDisplay = document.getElementById("gamepad-display")

            function update(){
            const gamepads = navigator.getGamepads()
            if(gamepads[0]){
                const gamepadState = {
                    id: gamepads[0].id,
                    axes : [
                        gamepads[0].axes[0].toFixed(2),
                        gamepads[0].axes[1].toFixed(2),
                        gamepads[0].axes[2].toFixed(2),
                        gamepads[0].axes[3].toFixed(2),
                    ],
                    buttons :[
                        {button_0: gamepads[0].buttons[0].pressed},
                    ],
                }
                gamepadDisplay.textContent = JSON.stringify(gamepadState, null, 2)
            }
            window.requestAnimationFrame(update)
} 

window.requestAnimationFrame(update)
        </script>
    </body>
</html>
