<!DOCTYPE html>
<html>
  <head>
    <title>My thesis</title>
    <style>
        #data {
          text-align: center;
        }
      </style>
  </head>
  <body>
    <center>
    <h1>My Ground Control Station</h1>
    <div>
        <img id="bg" src="{{ url_for('video_feed') }}"> 
    </div>
    <p> THE VEHICLE IS CONNEDCTED </p>
    </center>
    {% for roll,pitch,yaw in data: %}
    <script>
     $("#data").text("{{ roll }},{{ pitch }},{{ yaw }}")
    </script> 
     {% endfor %}
    <form action="/Arming">
        <button type="submit"> Force Arm </button>
    </form>
  </body>
</html>
