<!DOCTYPE html>
<html>
  <head>
    <title>My thesis</title>
    <style>
        #data {
          text-align: center;
        }
      </style>
  </head>
  <body>
    <center>
    <h1>My Ground Control Station</h1>
    <div class="main" id="newpost">
      <img  class="camera-bg" style="width: 30%; height:30%; background-attachment: fixed;" id="bg" class="center" src=" http://192.168.63.12:8000/video_feed">   
    </div>
    <p> THE VEHICLE IS CONNEDCTED </p>
    </center>
    {% for roll,pitch,yaw in data: %}
    <script>
     $("#data").text("{{ roll }},{{ pitch }},{{ yaw }}")
    </script> 
     {% endfor %}
    <form action="/Arming">
        <button type="submit"> Force Arm </button>
    </form>
  </body>
</html>
